@import "bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/variables-dark";

$theme-colors: (
                primary: #0E7580,
                secondary: #D9D9D9,
                success: #1e6111,
                info:  #64c3d2,
                warning: #363737,
                danger: #ad0919,
								primarylight: #4ff5ef
                );
        
@import "bootstrap/scss/bootstrap";