/* === Import Bootstrap functions and variables === */
@import "bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/variables-dark";
/*--------------------------------------------------------------------*/
/* Change theme-colors */
$theme-colors: (
                primary: #0E7580,
                secondary: #3b3c3e,
                success: #1e6111,
                info:  #64c3d2,
                warning: #f5e74a,
                danger: #820410
                );
        
/*--------------------------------------------------------------------*/
/* === Bootstrap Main SCSS === */
@import "bootstrap/scss/bootstrap";
/*--------------------------------------------------------------------*/